* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav {
    text-align: right;
    background-color: white;
}

.nav .uniqueColorHeader {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: rgb(211, 255, 89);
    
}

.nav .whiteHeader {
    height: 70px;
    line-height: 70px;
    position: relative;
}


.nav .headerBox {
    display: inline;
    
}

.nav .headerBox li {
    display: inline-block;
    padding-right: 30px;
    
    width: 100px;
}

.headerBox .map, .record, .mypage, .login, .join {
    text-decoration-line: none;
    color: black;
}

.headerBox .map:hover {
    color: grey;
    transition: 0.2s ease-out;
    opacity : 0.5;
}
.headerBox .record:hover {
    color: grey;
    transition: 0.2s ease-out;
    opacity : 0.5;
}
.headerBox .mypage:hover {
    color: grey;
    transition: 0.2s ease-out;
    opacity : 0.5;
}
.headerBox .mypage:hover {
    color: grey;
    transition: 0.2s ease-out;
    opacity : 0.5;
}
.headerBox .login:hover {
    color: grey;
    transition: 0.2s ease-out;
    opacity : 0.5;
}
.headerBox .join:hover {
    color: grey;
    transition: 0.2s ease-out;
    opacity : 0.5;
}


.whiteHeader .sincl {
    position: absolute;
    left: 20px;
    top: 10px;
    object-fit: cover;
}

