* {padding: 0; margin: 0;}

.container {
    position: relative;
    border-top: 3px solid rgb(211, 255, 89);
}

.calendar {
    height: 400px;
    width: 700px;
    font-size: 30px;
    line-height: 20px;
    border: 5px solid rgb(211, 255, 89);
    background-color: rgb(206, 250, 250);
}

.calendarTitle {
    position: absolute;
    top: 90px;
    left: 200px;
    font-size: 40px;
}

.calendarBox {
    position: absolute;
    top: 150px;
    left: 200px;
}

.todoBox {
    position: absolute;
    top: 40px;
    left: 1000px;
    height: 400px;
}
